
h1 {
    color: #be911e;
    text-align: center;
}

table {
    text-align: center;
    background: azure;
    border: 1px solid black;
    width: 80rem;
    margin: auto;
    border-collapse: collapse;
}

thead {
    font-weight: bold;
}

td {
    border: 1px solid black;
}

fieldset {
    width: fit-content;
    margin: 2rem auto;

}

.bottom_buttons {
    text-align: center;
    margin: 2rem auto 2rem auto;
}

.my_sum {
    text-align: center;
    margin: 2rem auto;
}

.sum_button {
    display: inline-block;
}

.disc_input {
    width: 9rem;
}